.card {
	cursor: pointer;
	position: relative;
	background: white;
	border-radius: .5rem;
	text-align: center;
  height: auto;

  svg {
    fill: #ff879c;
    width: 25px;
    transition: 1s;
  }

  &:hover svg {
    fill: #ef3232;
    transform: scale(0.8);
  }
}

